* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(207, 109, 109);
    overflow: hidden;
}

.gamecontainer {
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;
}

.ninja {
    background-image: url(Ninja.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 160px;
    position: absolute;
    bottom: 0px;
    left: 52px;
}

.dragon {
    background-image: url(dragon.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 50vw;
}

.animateninja {
    animation: ninja 0.6s linear infinite;
}

@keyframes ninja {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 450px;
    }

    100% {
        bottom: 0;
    }
}

.animatedragon {
    animation: dragon 1s linear infinite;
}

@keyframes dragon {
    0% {
        left: 100vw;
    }

    100% {
        left: -10vw;
    }
}

.gameover{
    color: white;
    position: absolute;
    background-color: rgb(40, 32, 32);
    border: 2px solid black;
    border-radius: 10px;
    left: 250px;
    top: 170px;
    font-size: 50px;
    text-align: center;
}

.score{
    font-size: 30px;
    color: white;
    padding-top: 50px;
    text-align: center;
}

.creator{
    color: azure;
    position:relative;
    top:10px;
    font-size: 53px;
    text-align: center;
    border-radius: 10px;
}








